<html>
  <head>
     <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/style.css" />
     <title>{{title}}</title>
  </head>
 
  <body>
    <div class = "main-content">
      {{>header}}
    <img class ="portrait" src="/img/nature.jpg" />
    </div>
  
    {{>footer}}
  </body>
</html>